<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <!-- Nav Bar-->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Movie Watchlist</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Search Movies</a>
            <% if (user) { %>
                <a class="p-2 text-dark" href="/watchlist">My Movies</a>
                <a class="p-2 text-dark" href="/logout">Logout</a>
                <% } %>
        </nav>
        <% if (!user) { %>
            <a class="btn btn-outline-primary mr-md-2" href="/login">Login</a>
            <a class="btn btn-outline-primary" href="/signup">Sign up</a>
            <% } %>
    </div>


</body>

</html>