<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer src="/javascripts/home.js"></script>
    <script>
        <% if (user) { %>
        const __USER_ID__ = '<%= user._id %>'
        <% } else { %>
        const __USER_ID__ = null <% } %>
    </script>
</head>

<body>
    <!-- Nav Bar-->
    <%- include('partials/navbar') %>

        <!-- Welcome Message-->
        <% if(user) { %>
            <h4 class="center">Hello
                <%= user.name %>
            </h4>
            <% } %>

                <!-- Main Component-->
                <div class="row center-align">
                    <form id="search-form" class="input-field col s4 ">
                        <div class="input-group mb-3 valign-wrapper"  style="display: flex; flew-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                      ">
                            <input type="text" class="form-control" placeholder="Search movies..." aria-label="Search movies..." aria-describedby="search-btn" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit" id="search-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <section id="movies-list"></section>

</body>

</html>